__pycache__/
*.pyc
*.pyo
*.pyd

.venv/

.vscode/

data/tokens/*.bin
data/tokens/*.pkl
data/tokens/spm.*

checkpoints/
"zavrsni_projekt.bfg-report/" 
__pycache__/
.venv/
data/tokens/*.bin
data/tokens/*.pkl
data/tokens/spm.*
checkpoints/
